:root{
    --cor1: #120a8f;
    --cor2: #add9f4;
    --cor3: #ffca3a; 
    --cor4: #ff6b6b;
    --cor5: #040403;

}
 

section.testevocacional{
    
    text-align: center;
    background-color: var(--cor4);
    color: white;
    padding: 50px;
}

section.testevocacional h1{
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
    text-shadow: 10px 10px 5px 5px black;
}
section.testevocacional p{
    font-size: 1.5rem;
}
section.testevocacional a{
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    font-size: 2rem;
}

section.testevocacional a:hover{
    background-color: var(--cor5);
    color: white;
    transition: 0.5s;
}

.bloco-artigo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto 30px auto;
    
}

div.artigo {
    width: 22rem;
    height: 12rem;
    display: inline-block;
    margin: 10px;
    padding: 0px 20px;
    border-radius: 5px; 
    border-color: #04040356;
    border-style: solid;
    border-width: 0.5px;
    padding-bottom: 25px;
  
     
}

div.artigo h1{
    font-weight: 400;
}

div.artigo p{
    font-weight: 100;
}

.icone-numerico{
    width: 2rem;
    margin-top: 20px;
    
}

section.coletadeemail{
    background-color: #130a8fbb;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 30px auto 30px auto;
    padding-bottom: 30px;
}
section.coletadeemail h1{
    font-size: 2.5rem;
}
section.coletadeemail p{
    margin-top: -20px;
    font-size: 1.3rem;
}

form.email{
    margin-top: 20px;
}
button.email{
    background-color: var(--cor5);
    color: white;
    padding: 10px 25px;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 1rem;

}

button.email:hover{
    background-color: var(--cor3);
    color: #040403;
    transition: 0.5s;
}

input.email{
    width: 20rem;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}




.bloco-bolsas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto 30px auto;
    
    
}

div.bolsas {
    width: 22rem;
    height: 12rem;
    display: inline-block;
    margin: 10px;
    padding: 0px 20px;
    padding-bottom: 25px; 
    text-align: center; 
    
}

div.bolsas h1{
    font-weight: 400;
    margin: 0px
}

div.bolsas p{
    font-weight: 100;
    margin: 5px;
}

.icone-bolsa{
    width: 5rem;
    margin-top: 20px;
}




section.ead h1.titulo{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 5px;
}
.bloco-ead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

div.ead {
   border-style: solid;
   border-width: 0.5px;
   width: 25rem;
   margin-right: 20px;  

}

div.ead a{
    text-decoration: none;
    color: var(--cor1);
}

div.ead a:hover{
    text-decoration: underline;
    transition: 1s;
}

div.ead h1.titulodocurso{
   padding: 10px;
   text-align: center;
   margin: 0;
   margin-bottom: 30px;
}

div.preco{
    margin-top: 50px;
    margin-bottom: 20px;
 
}

h2.ead, h3.ead{
    margin: 0;
    text-align: center;
 
}

h3.ead{
    font-size: 1rem;
}

.icone-ead{
    width: 25rem;
    
}


